@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #5ab9b9;
$title-font: 'Akshar', sans-serif;

body{
    min-height: 100vh;
    background: $primary;
    display: grid;
    place-items: center;
    font-family: 'K2D', sans-serif;
}

// Layout
.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.grid-3{
    display: grid;
    grid-template-columns: 45% 35% 20%;
    justify-content: space-between;
}

.deleting{animation: deleting 0.5s 1 forwards;}

// Design of form
form{
    flex: auto;
    display: grid;
    place-items: center;
    background: #00000048;
    position: relative;
    box-shadow: 2px 2px 3px #00000044;
    min-width: 300px;
    max-height: 400px;

    &::before{
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url(https://images.immediate.co.uk/production/volatile/sites/4/2021/08/mountains-7ddde89.jpg?resize=768,574) ;
        background-size: cover;
    }

    .content{
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        gap: 20px;
        width: 60%;

        h1{
            text-align: center;
            font-family: $title-font;
        }

        .inputs{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            input{
                width: 100%;
                padding: 10px 20px;
                background: #ffffff20;
                backdrop-filter: blur(10px);
                border: none;
                color: black;
                transition: 0.3s;

                &::placeholder{
                    color: #000000a1;
                }

                &:focus{
                    outline: none;
                    box-shadow: 0px 0px 10px #ffffff20;
                }
            }

            button{
                padding: 15px 40px;
                margin-top: 20px;
                background: $primary; 
                border: none;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}

// Design of table
table{
    border-spacing: 0;
    max-width: 1300px;
    color: white;
    background: #2c3844;
    flex: auto;

    tr{
        $line: #2129319a;
        &:nth-child(2n):not(.footer, .title){background: #242e38;}
        &.title,&.footer{background: #202832;}

        th{
            box-shadow: 0 0 1px #00000025;
            padding: 10px 0;
            font-family: $title-font;
            
            &:not(:first-of-type){border-left: 3px solid $line;}
        }

        td{
            padding: 10px 25px;
            box-shadow: 0 0 1px #00000025;

            &:not(:first-of-type){
                display: flex;
                justify-content: center;
                border-left: 3px solid $line;
            }
        }

        button{
            padding: 10px 25px;
            background: $primary;
            border: none;
            color: white;
            cursor: pointer;
        }

        a{
            color: white;
            transition: .5s;

            &:hover{
                color: #ffffff50;
            }
        }
    }
}

// Deleting animation
@keyframes deleting{
    0%{
        opacity: 1;
    }

    75%{
        opacity: 0;
        transform: scale(.9);
        height: 55px;
    }

    100%{
        height: 0px;
        opacity: 0;
    }
}